/* Anatomia */

h1{
    color: blue;
    font-size: 60 px;
    background: gray;
}
/* Selectors 

Conecta um elemento HTML com CSS


    Tipos

* Global selector '*'
* Element/Type selector 'h1,h2,p,div' 
* ID Selector '#box, #container'
* Class Selector '.red, .m-4' 
* Atribbute selector, Pseudo-class, Pseudo-element, e outros
*/

/* GLOBAL */

* {
    margin: 0;

}
/* ID SELECTOR */

/* 
 
CAIXAS 
 
* Quase tudo sao caixas no CSS
* Caixa pode ficar ao lado de uma outra, ou acima
* Elementos HTML sao caixas

*/
h1{
    border: 1px solid red;
    margin: 20px;
}
 
 /* Adicionando CSS
* INCLINE
atributo 'style'

exemplo de uso no HTML
<body>
    <h1 style="color: red"> 
    Titulo
    <strong style="color: blue">

*<style>
tag html que ira conter o css

exemplo de uso no HTML

<style>
    <h1>
    color: red
    </h1>
</style>


*<link>
arquivo css externo

exemplo de uso no HTML

<link rel="stylesheet" href="style.css">

*@import
arquivo css externo

exemplo de uso no codigo

@import ' https://fonts.google.com'

--uso do import nao e recomendado pois e mais lento recomenda-se usar o link.

 */
/*Tipos Numericos

<integer>       Numero inteiro como -10 ou 223
<number>        Numero decimal como -2.4, 64 ou 0.234
<dimension>     E um <number> com uma unidade junto: 90deg, 2s , 8px
<percentagem>   Representa a fraccao de outro numero: 50%

Unidades comuns

<length> - é um dos mais usados no CSS e representa um valor de distância: px, em, vw
<angle> - representa um ângulo: deg, rad, turn
<time> - representa um tempo: s, ms
<resolution> - representa resoluções para dispositivos: dpi
2222222
*/